<div class="container-fluid">
  <div class="row">
    <form app-form-layout
          appSubmittedClass="form-submitted"
          [formGroup]="myForm"
          (submit)="showForm()"
          class="col-4">

      <app-form-field vertical
                      label="First name"
                      [errors]="myForm.controls.firstName.errors">
        <input type="text"
               formControlName="firstName">
      </app-form-field>

      <app-form-field vertical
                      label="Last name"
                      [errors]="myForm.controls.lastName.errors">
        <input type="text"
               formControlName="lastName">
      </app-form-field>

      <app-form-field vertical
                      label="Mobile phone"
                      [errors]="myForm.controls.mobilePhone.errors">
        <input type="tel"
               formControlName="mobilePhone">
      </app-form-field>

      <app-form-buttons>
        <button right
                type="submit">Submit</button>

        <button left
                type="button"
                (click)="clearForm()">Clear</button>
      </app-form-buttons>

    </form>
  </div>
</div>
